<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="messenger_local" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SimpleMessenger;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehMessenger">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="WcfMessengerLibrary.ServiceMessager" behaviorConfiguration="mexBehMessenger">
				<endpoint address="" binding="netTcpBinding" contract="WcfMessengerLibrary.IServiceMessager"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8090/"/>
						<add baseAddress="net.tcp://localhost:8310/"/>
					</baseAddresses>
				</host>
			</service>
			<service name="WcfMessengerLibrary.ServiceInfo" behaviorConfiguration="mexBehMessenger">
				<endpoint address="" binding="netTcpBinding" contract="WcfMessengerLibrary.IServiceInfo"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8091/"/>
						<add baseAddress="net.tcp://localhost:8311/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>